// @use "tailwindcss" as *;
// @import "tailwindcss";

.wrapper {
  // min-height: 100dvh;
  // width: 100dvh;
  position: relative;
  // border: 1px solid red;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  // transform: rotate(270deg);
  position: relative;
}

.absoluteBadge {
  position: absolute;
}

.topRight {
  top: 1rem;
  right: 1rem;
}

.bottomLeft {
  bottom: 1rem;
  left: 1rem;
}

@media(max-width: 640px) {
  .wrapper {
    // padding-top: 100dvh;
    // background-color: #000;
    // background-image: url('/static/audio-cassette-v-circle.svg');
  }

  .topRight,
  .bottomLeft {
    width: calc(100% - 1rem * 2);
  }
}

@media(min-width: 641px) {
  .wrapper {
    // padding-top: 200px;
    // background-image: url('/static/audio-cassette-circle.svg');
  }
}

.container {
  max-width: 100vw;

  box-sizing: border-box;

  // &>:first-child {
  //   transform: translateX(-16%) rotate(90deg);
  // }
  // transform: rotate(270deg);


  display: flex;
  align-items: center;
  justify-content: center;
  // height: 320px;
  min-width: 400px;
  max-width: 450px;

  transition: all 1s ease;
}

@media(max-width: 640px) {
  .container {
    // border: 1px dashed red;
    margin: 0 auto;
    // transform: rotate(270deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

@media(min-width: 641px) {
  .container {
    margin: 0 auto;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
}